<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our story until now:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2022</h4>
                                    <h4 class="subheading">Our Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CADMUS was founded from a strong multidisciplinary Capstone design team.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Spring 2023</h4>
                                    <h4 class="subheading">Customer Discovery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We put in a lot of work to understand the problem space and hone our ideas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2023</h4>
                                    <h4 class="subheading">Capstone Design Expo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We debuted our EMS tools at Georgia Tech's Capstone Design Expo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2023</h4>
                                    <h4 class="subheading">IEEE VIC Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thank you to IEEE for allowing us to showcase our technology and make connections.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2023</h4>
                                    <h4 class="subheading">Create-X Startup Launch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are in Georgia Tech's startup incubator and working hard to develop our product.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>NOW</h4>
                                    <h4 class="subheading">Funding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As we enter the deployment stage, we are looking for partners who share our vision.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>