---
layout: default
---

{% include header_alt.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/style.css" id="theme"> <!-- This is where THEME --> 

<style>
  .post-preview {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* You can adjust the width as needed */
  }
</style>

{% for post in site.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}